$colorPrimary: #2985db;
$colorPrimaryHover: #056ac9;
$colorSecondary: #ebebeb;
$colorSecondaryHover: #d6d6d6;
$colorInfo: #909090;
$colorInfoHover: #575757;
$colorDark: #505050;
$colorDarkHover: #5e5e5e;
$colorLight: #e9dfdf;
$colorLightHover: #d1c6c6;
$colorWarning: #C70909;
$colorWarningHover: #ff010e;